<%= render DS::Dialog.new do |dialog| %>
  <% dialog.with_header(title: t(".edit", account: @account.name)) %>
  <% dialog.with_body do %>
    <div class="space-y-2">
      <%= render DS::Alert.new(message: t(".balance_tracking_info"), variant: :info) %>
      <%= render "form", account: @account, url: other_asset_path(@account) %>
    </div>
  <% end %>
<% end %>
