<div role="tooltip" data-tooltip-target="tooltip" class="tooltip bg-inverse text-sm px-1.5 py-1 rounded-md">
  <div class="text-inverse font-normal max-w-[200px]">
    <%= tooltip_text %>
  </div>
</div>
