<%= turbo_frame_tag "modal" do %>
  <%= render DS::Dialog.new do |dialog| %>
    <% dialog.with_header(title: t(".loading_title")) %>

    <% dialog.with_body do %>
      <div class="flex items-center justify-center py-8">
        <div class="flex flex-col items-center gap-4">
          <%= icon("loader-circle", class: "h-8 w-8 animate-spin text-primary") %>
          <p class="text-sm text-secondary">
            <%= t(".loading_message") %>
          </p>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
