<%# locals: (transaction:) %>

<div id="<%= dom_id(transaction, "category_menu") %>">
  <% if transaction.transfer&.categorizable? || transaction.transfer.nil? %>
    <%= render "categories/menu", transaction: transaction %>
  <% else %>
    <div class="hidden lg:flex">
      <%= render "categories/badge", category: transaction.transfer&.payment? ? payment_category :  transfer_category %>
    </div>
    <div class="flex lg:hidden">
      <%= render "categories/badge_mobile", category: transaction.transfer&.payment? ? payment_category :  transfer_category %>
    </div>
  <% end %>
</div>
